{% extends 'frontend/base.html' %}
{% load static %}


{% block meta_description %}Browse and discover international Olympiad competitions. Find competitions by subject, location, and date.{% endblock %}

{% block content %}
        <!--  Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper section-padding  bg-cover" style="background-image: url('{% static 'img/hero/1.png' %}');">
            <div class="container-fluid">
                <div class="page-heading">
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                        <li>
                            <a href="{% url 'index' %}">
                            Home
                            </a>
                        </li>
                        <li>
                            <i class="far fa-slash"></i>
                        </li>
                        <li>
                            Browse Olympiads
                        </li>
                    </ul>
                    <h1 class="wow fadeInUp" data-wow-delay=".5s">Browse All Olympiad Competitions</h1>
                </div>
            </div>
            <div class="plane-shape float-bob-x">
                <img src="{% static 'img/breadcrumb-plane.png' %}" alt="img">
            </div>
        </div>

        <!-- Olympiad Competitions Section Start -->
        <section class="amazing-tour-section section-padding">
            <div class="container">
                <div class="amazing-tour-wrapper">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4">
                            <div class="tour-sidebar-area sticky-style">
                                <div class="tour-destination-sidebar">
                                    <form method="get" action="{% url 'olympiads' %}">
                                    <div class="booking-list-area">
                                        <div class="booking-list">
                                            <div class="icon">
                                                <img src="{% static 'img/hero/location.png' %}" alt="img">
                                            </div>
                                            <div class="content">
                                                <h5>Location</h5>
                                                <div class="form-clt">
                                                    <div class="form">
                                                        <select class="single-select w-100" name="location" onchange="this.form.submit()">
                                                            <option value="">Select Competition Location</option>
                                                            {% for destination in destinations %}
                                                            <option value="{{ destination.city }}" {% if current_location == destination.city %}selected{% endif %}>
                                                                {{ destination.city }}, {{ destination.country }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="booking-list">
                                            <div class="icon">
                                                <img src="{% static 'img/hero/location.png' %}" alt="img">
                                            </div>
                                            <div class="content">
                                                <h5>Olympiad Category</h5>
                                                <div class="form-clt">
                                                    <div class="form">
                                                        <select class="single-select w-100" name="subject" onchange="this.form.submit()">
                                                            <option value="">Choose Category</option>
                                                            {% for subject in subjects %}
                                                            <option value="{{ subject.slug }}" {% if current_subject == subject.slug %}selected{% endif %}>
                                                                {{ subject.name }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="booking-list">
                                            <div class="icon">
                                                <img src="{% static 'img/hero/location.png' %}" alt="img">
                                            </div>
                                            <div class="content">
                                                <h5>Competition Date</h5>
                                                <div class="form-clt">
                                                    <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                                        <input class="form-control" type="text" placeholder="Select Date" readonly="">
                                                        <span class="input-group-addon"><i class="far fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="booking-list style-2">
                                            <div class="icon">
                                                <img src="{% static 'img/hero/location.png' %}" alt="img">
                                            </div>
                                            <div class="content">
                                                <h5>Grade Level</h5>
                                                <div class="form-clt">
                                                    <div class="form">
                                                        <select class="single-select w-100">
                                                            <option>Select Grade Level</option>
                                                            <option>Elementary (Grades 1-5)</option>
                                                            <option>Middle School (Grades 6-8)</option>
                                                            <option>High School (Grades 9-12)</option>
                                                            <option>University Level</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tour-sidebar-widget">
                                            <div class="wid-title">
                                                <h3>Filter by Registration Fee</h3>
                                            </div>
                                            <div class="price-range-wrapper">
                                                <div class="slider-container">
                                                    <!-- Range sliders -->
                                                    <input type="range" id="min-slider" class="slider" min="130" max="500"
                                                        value="130">
                                                    <input type="range" id="max-slider" class="slider" min="130" max="500"
                                                        value="250">
                                                </div>
                                                <div class="price-text pt-4 d-flex gap-3">
                                                    <label for="amount">Fee Range:</label>
                                                    <input type="text" id="amount" readonly style="border:0;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tour-sidebar-widget">
                                            <div class="wid-title">
                                                <h3>Competition Format</h3>
                                            </div>
                                            <ul class="languages-list">
                                                <li>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                Individual
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                Team
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                Virtual
                                                            </span>
                                                        </span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                In-Person
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                Hybrid
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <label class="checkbox-single">
                                                        <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                            <span class="checkbox-area d-center">
                                                                <input type="checkbox">
                                                                <span class="checkmark d-center"></span>
                                                            </span>
                                                            <span class="text-color">
                                                                Multi-Stage
                                                            </span>
                                                        </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tour-sidebar-widget">
                                            <div class="wid-title">
                                                <h3>Benefits & Features</h3>
                                            </div>
                                            <div class="checkbox-items">
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Certificate Provided
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Medal Awards
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Cash Prizes
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Study Materials
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Practice Tests
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            Mentorship Program
                                                        </span>
                                                    </span>
                                                </label>
                                                <label class="checkbox-single mb-0">
                                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                                        <span class="checkbox-area d-center">
                                                            <input type="checkbox">
                                                            <span class="checkmark d-center"></span>
                                                        </span>
                                                        <span class="text-color">
                                                            University Recognition
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="search-widget">
                                            <button type="submit" class="theme-btn"><span>Search Olympiads</span><i class="fal fa-search"></i></button>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="popular-posts">
                                        <div class="single-post-item">
                                            <div class="thumb bg-cover" style="background-image: url('{% static 'img/tour/post-1.jpg' %}');"></div>
                                            <div class="post-content">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                               <h5><a href="tour-details.html">Math Olympiad Challenge</a></h5>
                                                   
                                                <p>
                                                    From <b> $129.00 </b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="single-post-item">
                                            <div class="thumb bg-cover" style="background-image: url('{% static 'img/tour/post-2.jpg' %}');"></div>
                                            <div class="post-content">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h5><a href="tour-details.html">Science Olympiad Series</a></h5>
                                                <p>
                                                    From <b> $189.00 </b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="single-post-item">
                                            <div class="thumb bg-cover" style="background-image: url('{% static 'img/tour/post-3.jpg' %}');"></div>
                                            <div class="post-content">
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <h5><a href="tour-details.html">Coding Competition</a></h5>
                                                <p>
                                                    From <b> $229.00 </b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="row g-4">
                                {% if competitions %}
                                    {% for competition in competitions %}
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="amazing-tour-items mt-0">
                                            <div class="thumb">
                                                <div class="post-box">
                                                    <h4>$ {{ competition.base_price|floatformat:0 }}</h4>
                                                    <span>/ person</span>
                                                </div>
                                                {% if competition.image %}
                                                    <img src="{{ competition.image.url }}" alt="{{ competition.name }}">
                                                {% else %}
                                                    <img src="{% static 'img/tour/default.jpg' %}" alt="{{ competition.name }}">
                                                {% endif %}
                                                <div class="list-items">
                                                    {% if competition.is_featured %}
                                                    <h6>FEATURED</h6>
                                                    {% endif %}
                                                    <ul class="popup-icon">
                                                        {% if competition.image %}
                                                        <li>
                                                            <a href="{{ competition.image.url }}" class="img-popup">
                                                                <i class="far fa-camera"></i>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4>
                                                <a href="{% url 'olympiad-details' competition.slug %}">{{ competition.name }}</a>
                                            </h4>
                                            <span class="location-icon">
                                                <i class="far fa-map-marker-alt"></i>
                                                {{ competition.destination.city }}, {{ competition.destination.country }}
                                            </span>
                                            <a href="{% url 'olympiad-details' competition.slug %}" class="theme-btn">
                                                    <span>View Details</span> <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-12">
                                        <div class="text-center py-5">
                                            <h3>No competitions found</h3>
                                            <p>Try adjusting your filters or check back later for new competitions.</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if competitions.has_other_pages %}
                            <div class="page-nav-wrap mt-5 text-center wow fadeInUp" data-wow-delay=".3s">
                                <ul>
                                    {% if competitions.has_previous %}
                                        <li><a class="page-numbers" href="?page={{ competitions.previous_page_number }}{% if current_subject %}&subject={{ current_subject }}{% endif %}{% if current_location %}&location={{ current_location }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">Previous</a></li>
                                    {% endif %}
                                    
                                    {% for num in competitions.paginator.page_range %}
                                        {% if competitions.number == num %}
                                            <li><a class="page-numbers current" href="#">{{ num }}</a></li>
                                        {% elif num > competitions.number|add:'-3' and num < competitions.number|add:'3' %}
                                            <li><a class="page-numbers" href="?page={{ num }}{% if current_subject %}&subject={{ current_subject }}{% endif %}{% if current_location %}&location={{ current_location }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if competitions.has_next %}
                                        <li><a class="page-numbers" href="?page={{ competitions.next_page_number }}{% if current_subject %}&subject={{ current_subject }}{% endif %}{% if current_location %}&location={{ current_location }}{% endif %}{% if search_query %}&search={{ search_query }}{% endif %}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
